<!doctype html>
<html lang=en>
  <head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	  <title>{{title}}</title>
	  <meta name="author" content="GivePulse" />
	  <meta name="title" content="Social solutions for social equity." />
	  <meta name="keywords" content="Givepulse, givepulse.com, givepulse.org, give pulse, volunteering, volunteer, volunteer management, volunteers,give back, donate time, give service" /> 
	  <meta name="description" content="GivePulse wants to help nonprofits by developing social solutions to make volunteering fun and engaging." />
	  <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
	  <meta name="HandheldFriendly" content="True" />
	  <meta name="MobileOptimized" content="320" />

		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/style_more.css">
	  {{{block "stylesheets"}}}
  	
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	  <script src="../scripts/bootstrap.js"></script>
  	{{{block "scripts"}}}

  </head>
  
  <body>
    {{{body}}}
  </body>


</html>
