<table class="givepulse-opportunities">
{{#each opportunities}}
	<tr data-opp-name="{{name}}" class="givepulse-opportunity-name">
		<td>{{name}}</td>
		<td><button class="givepulse-register-btn">register</button></td>
	</tr>
	<tr class="givepulse-opportunity-desc">
		<td colspan="2" >{{description}}</td>
	</tr>
{{/each}}
</table>